/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 22, 2019, 10:06:11 PM
    Author     : hp
*/

@import "all.css";

*{
    font-family: 'Asap';
    font-weight: bold;
}

table{
    border-spacing: 0;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 50px;
}

td, th{
    padding: 20px;
    border: 1px solid grey;

}

thead tr{
    background-color: #00517e;
    border-bottom: 0;
    color: white;
}
tbody tr:nth-child(even){
    /*#d6d6d6*/
    background-color: #e3f3ff;
}


tbody tr:nth-child(even):hover{
    /*#d6d6d6*/
    background-color: #c1e4ff;
}

tbody tr:nth-child(odd):hover{
    /*#d6d6d6*/
    background-color: #e8e8e8;
}

tbody tr td a{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 20px 0;
    width: 100%;
}

tbody tr td a:hover{
    text-decoration: none;
    background-color: #d9dbdd;
}

tbody tr td:nth-child(5){
    padding: 0;
}

.content{
    text-align: center;
}
