/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 22, 2019, 4:53:20 PM
    Author     : hp
*/
*{
   font-family: 'Asap', sans-serif; 
}

body, html{
    margin: 0;
}

.container{
        background-image: linear-gradient(to right top, #6a24b7, #0071f9, #0098e3, #00b28c, #2fc20f);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login input{
    font-size: 24px;
    width: 90%;
    padding: 5px;
}

.login input:focus{
    background-color: #d9dbdd;
    outline-color: grey;
}

.login div{
    padding: 5%;
}

.login{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.67);
    width: 20%;
    box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.63);
}

.login input[type="submit"]{
    background-color: #076cf5;
    border: none;
    color: white;
}
.login input[type="submit"]:hover{
    background-color: #00aaa6;
}
.login input[type="submit"]:active{
    background-color: #6a24b7;
}


.login a{
    color: black;
    margin: 10px;
    display: inline-block;
}